{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>bs local model</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<style>
		img
		{
			height:150px!important;
			width: 100%!important;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container-fluid">
			<a href="" class="navbar-brand">flipkart</a>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/krishna2.png' %}" class="img-fluid">
					</div>
					<div class="card-body">
						<h3 class="card-title">krishna</h3>
						<p class="card-text">akdgujjuytrcc smlieuqywtrdauijdn cvsfzdcvmqhrouehfu</p>
						<button class="btn btn-dark btn-md ">add to cart</button>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/krishna2.png' %}" class="img-fluid">
					</div>
					<div class="card-body">
						<h3 class="card-title">krishna</h3>
						<p class="card-text">akdgujjuytrcc smlieuqywtrdauijdn cvsfzdcvmqhrouehfu</p>
						<button class="btn btn-dark btn-md ">add to cart</button>
					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/krishna2.png' %}" class="img-fluid">
					</div>
					<div class="card-body">
						<h3 class="card-title">krishna</h3>
						<p class="card-text">akdgujjuytrcc smlieuqywtrdauijdn cvsfzdcvmqhrouehfu</p>
						<button class="btn btn-dark btn-md ">add to cart</button>
					</div>
				</div>

			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<img src="{% static 'images/krishna2.png' %}" class="img-fluid">
					</div>
					<div class="card-body">
						<h3 class="card-title">krishna</h3>
						<p class="card-text">akdgujjuytrcc smlieuqywtrdauijdn cvsfzdcvmqhrouehfu</p>
						<button class="btn btn-dark btn-md ">add to cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h1>Add To Chart</h1>
		<p class="lead">iuqyeurjnjhc gqwirbkdihkf kqwrhfncvbkuytrdc JWDY8UHSJCB JAK QJWFGR7EIUGDBJKNY O8QIWE GDIASB,MXHiqelj ,kwyrhs s,cmkas[pfjegvn heufhcnx,kkkhshd hyuywhqkipo;MNCKAFHU AKGWTE8YW3G,HBJNAIpo?JVHUBGI </p>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>product id</th>
					<th>product image</th>
					<th>product name</th>
					<th>product price </th>
					<th>product quty</th>
					<th>total price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>xyz</th>
					<th>krishna</th>
					<th>40000 </th>
					<th>1</th>
					<th>10000</th>
				</tr>
				<tr>
					<th>2</th>
					<th>xyz</th>
					<th>krishna</th>
					<th>40000 </th>
					<th>1</th>
					<th>10000</th>
				</tr>
				<tr>
					<th>3</th>
					<th>xyz</th>
					<th>krishna</th>
					<th>40000 </th>
					<th>1</th>
					<th>10000</th>
				</tr>
				<tr>
					<th>4</th>
					<th>xyz</th>
					<th>krishna</th>
					<th>40000 </th>
					<th>1</th>
					<th>10000</th>
				</tr>
			</tbody>

		</table>
	</div>


</body>
</html>