{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jspidersstyle.css' %}">
</head>
<body>
	<header class="container">
		<h1><span>J</span>spiders</h1>
	<div>
		<a href="">update</a>
		<a href="">about </a>
		<a href="">contact</a>
		<a href="">gallery</a>
	</div>
	</header>
	<div class="landingpage"><img src="{%  static 'images/company1.jpg' %}">
		<div class="wrapper">
			<h1><span>J</span>spiders</h1>
			welcome to jspider jhgfdszsgfdgadtyafsdhasxvzhjgdmadihdjnfdsx kJSHIKdn,N DJNJXNJGDVN dJKHJDHjdnLOJEIusYUHBJHD NidygdvhGDYFVBvXTTS,hqgd87gbjZXghcxsxGJAxhuoXNS M<br>
			<button>Learn More</button>
		</div>
		
	</div>

</body>
</html>