<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<style type="text/css">
		body
		{
			background-color: orange;
		}
		button
		{
			border-radius: 10px;
		}
	</style>
</head>
<body>
	<h2 align="center">KM Custom HTML Form Example Using AppleScript <br>(by JM1ChaelTX)</h2>
	<table border="1PX">
		<tr>
			<td>Name:</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>email:</td>
			<td><input type="text"/></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="Password"/></td>
		</tr>
		<tr>
			<td>Approval Required:<br>
				click on the button or text to<br> check / uncheck</td>
			<td><input type="checkbox"/>Do You approve? </td>
		</tr>
		<tr>
			<td>Pick your Favourite:<br>
				Click on the button or text<br> to select</td>
			<td><input type="radio" name="r1"> choice A</input><br>
				<input type="radio" name="r1"> choice B</input><br>
				<input type="radio" name="r1"> choice C</input>
			</td>
		</tr>
		<tr>
			<td>Popup Menu:</td>
			<td><input type="number"></td>	
		</tr>
		<tr>
			<div> 
			<td><label>List:<br>
				Setup Options:<br>
				<ul>
					<li> Number of rows to display</li>
					<li>Allow Multi-select</li></ul></label>
				</ul></td>
			<td><textarea rows="4">
				California--CA<br>
				Colorado--CO<br>
				Connecticut--CN<br>
				Dalifornia--DA
			</textarea></td>
		</div>

		</tr>
		<tr>
			<td>Field Ignored by KM:</td>
			<td><input type="text"></td>	
		</tr>
		<tr>
			<td>Text Area:</td>
			<td><input type="number"></td>	
		</tr>
	</table>
	<button>save</button>
	<button>cancel</button>
	<button>Resize</button>

</body>
</html>