{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>semantic tags</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jspidersinfo.css' %}">
</head>
<body>
	<header>
		<h1 align="center">Jspiders</h1>
	</header>
	<nav>
		<a href="">home</a>
		<a href="">update</a>
		<a href="">course</a>
		<a href="">gallery</a>
		<a href="">contact</a>
	</nav>
	<aside>
		<a href=""> html</a>
		<a href="">css</a>
		<a href="">java script</a>
		<a href="">python</a>
		<a href="">django</a>
		<a href="">flask</a>
		<a href="">java</a>
	</aside>
	<section>
		<article><h1>COURSE DETAILS</h1>
		<h2>html</h2>
		<p>led to the establishment of an integrated software for Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment Cultural Heritage field can benefit from the Image Processing field in many 
ways. Several years of research accomplished at MICC and DET have led to the 
establishment of an integrated software for </p>
	<h2>Css</h2> 
	<p>Processing of Cultural Heritage 
images. The tool is able to protect the digital reproductions of art works, by means 
	of a powerful and robust watermarking technique, as well as it put at disposal some Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment of an integrated software for</p>
	<h2>java script</h2> 
	<p>Virtual Restoration tools, able both to simulate the actual restoration that can be 
	performed over the real art work or to process digital images in order to improve 
	their appearance, or to highlight some features of interest for restorers and curators.Cultural Heritage field can benefit from the Image Processing field in many ways. Several  </p>
	<h2>python</h2>
	<p>In the following, such a tool is presented, as well as some results of its apCultural Heritage field can benefit from the led to the establishment of an integrated software for Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment Image Processing field in many ways. </p>
	<h2>django</h2>
	<p>Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment of an integrated software  Several  </p>
	<h2>flask</h2>
	<p>Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of DET have led to the establishment of an integrated software for Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment </p>
	<h2>java</h2>
	<p>Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment of an integrated software for
	Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished led to the establishment of an integrated software for Cultural Heritage field can benefit from the Image Processing field in many ways. Several years of research accomplished at MICC and DET have led to the establishment MICC and DET have led to the establishment MICC and DET have led to the establishment MICC and DET have led to the establishment</p>

</article>
	</section>
	<footer>
		<h2>copyrightscopy;:2023</h2>
		<p>All rights are reserved</p>
		<small>developed & maintained by
		<a href="https://jspiders.com">Jspiders</a></small>
	</footer>

</body>
</html>