<!DOCTYPE html>
<html>
<head>
	<title>table2</title>
	<style type="text/css">
		table{
			border: 4px solid pink;
		}
	</style>
</head>
<body>
	<table border="2px">
		<tr>
			<th>Table 1</th>
			<th><h1>Table1</h1>
				<table border="2px">
					<tr>
						<th>Table 2</th>
						<th>Table2</th>
					</tr>
					<tr>
						<th>Table 2</th>
						<th>Table 2</th>
					</tr>
				</table>
			</th>
		</tr>
		<tr>
			<th>
				<ul>
					<h5>This Contain List</h5>
					<li>iteam-1</li>
					<li>Item-2</li>
				</ul>
			</th>
			<th> Tbale 1</th>
		</tr>

	</table>

</body>
</html>