<!DOCTYPE html>
<html>
<head>
	<title>table 3</title>
	<style type="text/css">
		table
		{
			border: 2px solid black;
		}
	</style>
</head>
<body>
	<table border="2px">
		<tr>
			<th colspan="6">Time Table</th>
		</tr>
		<tr>
			<th rowspan="6">Hours</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
		</tr>
		<tr>
			<td>Computer</td>
			<td>Math</td>
			<td>Computer</td>
			<td>Math</td>
			<td>Arts</td>
		</tr>
		<tr>
			<td>Computer</td>
			<td>Math</td>
			<td>Computer</td>
			<td>Math</td>
			<td>Arts</td>
		</tr>
		<tr>
			<td colspan="5" align="center">LUNCH</td>
		</tr>
		<tr>
			<td>Computer</td>
			<td>Math</td>
			<td>Computer</td>
			<td>Math</td>
			<td rowspan="2">Project</td>
		</tr>
		<tr>
			<td>Computer</td>
			<td>Math</td>
			<td>Computer</td>
			<td>Math</td>
		</tr>


	</table>

</body>
</html>