*
{
margin: 0px;
position: relative;	
}
header
{
	background-color: black;
	padding: 20px;
	color: white;
	font-family: "comic sans ms",sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

}
h1>span
{
	color: orange;
	align-items: flex-end;
	justify-content: space-between;
	text-decoration: none;
}
a
{
	text-decoration: none;
	margin: 7px;

}
a
{
	background-color: orange;
	color: white;
	border-radius: 5px;
}
a:hover
{
	box-shadow: 0px 0px 10px white;
	border-radius: 5px;
}
.landingpage
{
	background: black url("C:\Users\Lakshmi\Desktop\web tech\css\company1.jpg") no-repeat 0px 0px scroll;
	background-size: cover;
	height: 100vh;
}
.landingpage>wrapper
{
	height: inherit;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
}
.landingpage>img
{
	width: 1465px;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
}
.wrapper
{
	background-color: black;
	position: absolute;
	margin-top: -100vh;
	height: 100vh;
	width: 1465px;
	background-color: rgba(0,0,0,0.4);

}
.wrapper>h1
{
	display: flex;
	justify-content: center;
	align-items: flex-center;
	margin-bottom: 250px;
	margin-left: 50px;
}
button{
	background-color: orange;
	border-radius: 5px;
	margin-left: 700px;
}
