*{
	margin: 0px;
}
header{
	background: linear-gradient(60deg,darkslategray,lightcyan);
}
header>h1{
	padding: 20px;
	color: deeppink;
}
nav{
	padding: 10px;
	text-align: center;
	background: linear-gradient(45deg,darkslategray,lightcyan);
}
nav>a
{
	text-decoration: none;
	color: hotpink;
	padding: 20px;
}
aside{
	background: linear-gradient(60deg,darkviolet,black);
	width: 170px;
	height: 102vh;
}
aside>a{
	display: block;
	padding: 30px;
	text-decoration: none;
	color: pink;
}
section
{
	margin-left:170px ;
	background: linear-gradient(60deg,darkviolet,black);
}
section>article
{
	margin-top: -728px;
	color: pink;
	font-family: "comic sans ms",sans-serif;";


}
section>article>h2{
	background-color: darkcyan;
	border: 1px solid white;
}
footer{
	background: linear-gradient(60deg,darkviolet,black);
	text-align: center;
}
